.main-signin-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.main-signin-page__error-msg {
	margin-top: 8px;
	margin-bottom: 8px;
	width: 100%;
	padding: 8px 16px;
	border-radius: 4px;
	border: 1px solid red;
	color: red;
	background-color: rgba(255, 0, 0, 0.1);
}
.main-signin-page__form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 500px;
}